port=3001
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_sBGD4SpkK6dM@ep-curly-base-aot82mb1-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CLERK_PUBLISHABLE_KEY=pk_test_d29ydGh5LWJ1Y2stNzQuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_dHR7W94QgpyHOlBcXiCPbDMHJxGadbMSadB4LJjM1t

SENTRY_DSN= https://8461d4fe2ebb9d3f9a6525919f0be3e2@o4511695723823104.ingest.us.sentry.io/4511695755608064
STREAM_API_KEY= 3gcpajxk5vx9
STREAM_API_SECRET= a8bxgcjxhcf9mpv6ykk5havkwke4c6dr8va4aujpuqp7bb5h9urd3m865n492d9p
IMAGEKIT_PUBLIC_KEY= public_k2v3djSSDdyXXCzTvqYYlEUy1IA=
IMAGEKIT_PRIVATE_KEY= public_k2v3djSSDdyXXCzTvqYYlEUy1IA=
IMAGEKIT_URL_ENDPOINT= https://ik.imagekit.io/1t52kxr05